<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Framework CSS -->
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  
  <style type="text/css">
    body { margin-top: 1em; }
  </style>
</head>
<body>
  <div class="container showgrid">
    <div class="span-5">
      <h1>Trendy Radio</h1>
      <p>Showcasing the best of BBC Radio content based on what's happening in the world</p>
      
      <h2>Using</h2>
      <ul>
        <li><a href="http://www.whatthetrend.com">What the Trend</a></li>
        <li><a href="http://www.bbc.co.uk/search/">BBC Search</a></li>
      </ul>
      
      <h2>About</h2>
      <p>Made at the <a href="http://www.bbc.co.uk/radio/">BBC Radio &amp; Music Hack Day</a> by:</p>
      <ul>
        <li><a href="http://twitter.com/jcleveley">@jcleveley</a></li>
        <li><a href="http://twitter.com/metade">@metade</a></li>
        <li><a href="http://twitter.com/pgblake">@pgblake</a></li>
        <li><a href="http://twitter.com/songschris">@songschris</a></li>
        <li>stella</li>
      </ul>
      
      <p>
        <audio preload="auto" autobuffer autoplay>
          Obligatory Westwood-style bomb
          <source src="http://www.bbc.co.uk/radio1/developers/soundboard/assets/deployment_bomb.mp3" />
        </audio>
      </p>
    </div>
    <div class="span-19">
      
    </div>
  </div>
</body>
</html>
