<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/glow/1.7.3/core/core.js" type="text/javascript"></script>
  <script src="/js/glow/1.7.3/widgets/widgets.js" type="text/javascript"></script>
  <script src="/js/trendyradio.js"></script>
  <link href="/js/glow/1.7.3/widgets/widgets.css" type="text/css" rel="stylesheet" />
  
  <!-- Framework CSS -->
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  
  <style type="text/css">
    body { 
      background: #9D51A6 url('/background.jpg');
    }
    #content { 
      background: #fff;
      padding: 1em;
    }
    blockquote { font-size: 1.3em; }
    h1 { font-size: 5em; }
    #about h2 { margin-top: 1em; margin-bottom: 0.1em; }
    #about ul { list-style: none; padding-left: 0px; }
    #about p { margin-bottom: 0.1em;}
    

	#trends h2 {
		margin: 0;
		padding: 0;
	}
	
	#trends hr {
		margin: 24px 0 0 0;
		padding: 0;
	}

   #trends ol li {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline;
    position: relative;
    }

	#trends ol li a {
	    float: left;
	    font-size: 0.8em;
	    height: 124px;
	    margin: 4px;
	    padding: 10px;
	    position: relative;
		text-decoration: none;
	}
	#trends ol li a span.title {
	    display: block;
	}
	#trends ol li a:hover {
	    background: none repeat scroll 0 0 #EBEBEB;
	    text-decoration: none;
	}
	#trends ol li a span.tv-icon {
	    background: url("http://www.bbc.co.uk//radio1/images/homepage/media/watch.gif") no-repeat scroll 0 0 transparent;
	    display: block;
	    height: 61px;
	    left: 10px;
	    position: absolute;
	    top: 10px;
	    width: 106px;
	}
	#trends ol li a span.radio-icon {
	    background: url("http://www.bbc.co.uk//radio1/images/homepage/media/listen.gif") no-repeat scroll 0 0 transparent;
	    display: block;
	    height: 61px;
	    left: 10px;
	    position: absolute;
	    top: 10px;
	    width: 106px;
	}
	#trends ol li a span.news-icon {
	    background: url("/news.jpg") no-repeat scroll 0 0 transparent;
	    display: block;
	    height: 61px;
	    left: 10px;
	    position: absolute;
	    top: 10px;
	    width: 106px;
	}	

	#trends ol li a span.sport-icon {
	    background: url("/sport.gif") no-repeat scroll 0 0 transparent;
	    display: block;
	    height: 61px;
	    left: 10px;
	    position: absolute;
	    top: 10px;
	    width: 106px;
	}

	#trends #spinner {
	    background: url("/spinner.gif") no-repeat scroll 0 0 transparent;
	    display: block;
	    height: 61px;
	    left: 300x;
		padding-left: 60px;
		padding-top: 10px;
	}
	
	.glow173-carousel .carousel-light .carousel-window {
	    background: none repeat scroll 0 0 #fff;
	}


  </style>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21165592-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="content" class="container">
    <div id="about" class="span-5">
      <img src="/logo.png" width="190" height="246" />
      <h1>Trendy Radio</h1>
      <blockquote>Showcasing the best of BBC Radio based on what's happening in the world</blockquote>
      
      <h2>About</h2>
      <p>
        <em>Trendy Radio</em> takes trending topics from <a href="http://www.whatthetrend.com">What the Trend</a> and
        uses <a href="http://www.bbc.co.uk/search/">BBC Search</a> to return relevant BBC radio programmes, tv programmes
        and news stories. If it doesn't find any content based on the topic name it uses the 
        <a href="http://y.ahoo.it/RPgwQhHM">Yahoo Term Extraction API</a> to pull out the key term from the description 
        provided by What the Trend and then uses that to query BBC Search.
      </p>
      
      <h2>Credits</h2>
      <p>Made at the <a href="http://www.bbc.co.uk/radio/">BBC Radio &amp; Music</a> Hack Day by:</p>
      <ul>
        <li><a href="http://twitter.com/jcleveley">@jcleveley</a></li>
        <li><a href="http://twitter.com/metade">@metade</a></li>
        <li><a href="http://twitter.com/pgblake">@pgblake</a></li>
        <li><a href="http://twitter.com/songschris">@songschris</a></li>
        <li>stella</li>
      </ul>
      
      <h2>API</h2>
      <ul>
        <li><a href="http://trendyradio.heroku.com/locations/23424975/trends.json">JSON</a></li>
        <li><a href="http://trendyradio.heroku.com/locations/23424975/trends.jsonp?callback=foo">JSONP</a></li>
      <ul>
        
      <h2>Code</h2>
      <p><a href="https://github.com/metade/trendyradio">Source code on Github</a></p>
      
      <hr class="space" />
      <div class="bottom">
        <audio id="deployment_bomb" preload="auto">
          Obligatory Westwood-style bomb
          <source src="http://www.bbc.co.uk/radio1/developers/soundboard/assets/deployment_bomb.mp3" />
        </audio>
        <p><small><a href="javascript:play_single_sound();">Obligatory Westwood-style bomb</a></small></p>
        <script type="text/javascript">
          function play_single_sound() {
            document.getElementById('deployment_bomb').play();
          }
        </script>
      </div>
    </div>
    <div id="trends" class="right span-18">
      <span id="spinner">LOADING TRENDS . . .</span>
    </div>
  </div>
</body>
</html>
